# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Spyder project settings
.spyderproject
.spyderworkspace

# Local environment variables
.env
.env.*
*.env

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Pyre type checker
.pyre/

# macOS files
.DS_Store

# special
hidden*/
!trash*/
.trash*/

# ruff formatter
.ruff_cache